@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.5px; }

p {
  line-height: 26px;
  font-size: 16px;
  color: #343434; }

img {
  width: 100%; }

.hp__content h3 {
  margin-top: 0;
  color: #10B0E6; }

.hp__content--pad {
  padding: 0 30px; }

.hp__cta {
  background-color: transparent;
  color: #10B0E6;
  border: solid 1px #10B0E6;
  border-radius: 40px;
  height: 40px;
  display: inline-block;
  padding: 0 20px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer; }
  .hp__cta:hover {
    background-color: #0d8cb6;
    color: #fff; }
  .hp__cta:hover {
    transition: all 0.2s ease-in; }

.hp__section:nth-of-type(2n) {
  background-color: #FEFEFE; }

.hp__section:nth-of-type(3n) {
  background-color: #f1f1f1; }

.hp__section:nth-of-type(4n) {
  background-color: #e5e5e5; }

.hp__section:nth-of-type(5n) {
  background-color: #d8d8d8; }

.hp__section--carousel {
  width: 100%;
  margin: 0;
  background-color: #373B44;
  position: relative;
  height: calc(100vh - 60px);
  overflow: hidden; }

.hp__section h2 {
  text-align: center;
  color: #10B0E6;
  text-transform: uppercase; }

.hp__section .scroll-arrow {
  display: none; }
  .hp__section .scroll-arrow:after {
    z-index: 14;
    content: '\2193';
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    color: #10B0E6;
    display: block;
    text-align: center;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 42px;
    background-color: #fff;
    font-weight: bold;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    cursor: pointer;
    box-shadow: -1px 2px 6px #555;
    opacity: 0.7; }
  .hp__section .scroll-arrow:hover:after {
    background-color: #10B0E6;
    color: #fff;
    transition: background-color 0.2s ease-in, color 0.2s ease-in; }

.hp__inner-section {
  padding: 20px 0; }
  .hp__inner-section h2 {
    margin-top: 0; }
  .hp__inner-section--hero {
    padding: 0; }

.hero-carousel {
  position: relative;
  overflow: hidden; }
  .hero-carousel__content {
    z-index: 11;
    padding: 20px 40px;
    position: absolute;
    left: 0;
    top: calc(50% - 60px);
    transform: translateY(-50%); }
    .hero-carousel__content h1 {
      color: #fff;
      font-weight: 300;
      text-transform: uppercase; }
  .hero-carousel__cta {
    background-color: #10B0E6;
    color: #fff;
    border: solid 1px #10B0E6;
    border-radius: 40px;
    height: 40px;
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    margin-top: 20px; }
    .hero-carousel__cta:hover {
      background-color: #0d8cb6; }
    .hero-carousel__cta:hover {
      transition: all 0.2s ease-in; }
    .hero-carousel__cta--transparent {
      background-color: transparent;
      color: #10B0E6;
      border: solid 1px #10B0E6;
      border-radius: 40px;
      height: 40px;
      display: inline-block;
      padding: 0 20px;
      line-height: 40px;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      cursor: pointer; }
      .hero-carousel__cta--transparent:hover {
        background-color: #0d8cb6;
        color: #fff; }
      .hero-carousel__cta--transparent:hover {
        transition: all 0.2s ease-in; }
  .hero-carousel__item {
    height: calc(100vh - 60px);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .hero-carousel .bx-wrapper {
    border: 0; }
  .hero-carousel:before {
    content: '';
    background-color: #000;
    opacity: 0.6;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 10; }

@media screen and (min-width: 960px) {
  .hp__section--carousel {
    height: calc(100vh - 120px); }
  .hp__section .scroll-arrow {
    display: block; }
  .hp__content--half {
    width: 49%;
    display: inline-block;
    vertical-align: top; }
  .hp__content h3 {
    margin-top: 0;
    color: #10B0E6; }
  .hp__content img {
    width: 100%; }
  .hero-carousel__content {
    width: 400px; }
  .hero-carousel__item {
    background-attachment: fixed; }
  .hero-carousel:before {
    background: linear-gradient(to right, #000, transparent, transparent);
    opacity: 0.8; } }

html, body {
  padding: 0;
  margin: 0;
  height: 100%; }

.container {
  min-height: 100%;
  position: relative; }

.content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: 100%; }
  .content::after {
    clear: both;
    content: "";
    display: block; }

#footer {
  background: #10B0E6; }

.heading {
  height: 60px;
  background-color: #ffffff; }
  .heading__logo-wrapper {
    display: inline-block;
    width: 200px; }
    .heading__logo-wrapper img {
      width: 100%; }
  .heading__menu-wrapper {
    float: right;
    display: inline-block; }
  .heading__cta-wrapper {
    display: none; }

@media screen and (min-width: 960px) {
  .heading {
    height: 120px;
    padding-top: 20px; }
    .heading__logo-wrapper {
      display: block;
      height: 60px;
      width: 200px;
      margin: 0 auto; }
    .heading__menu-wrapper {
      float: none;
      display: block;
      height: 40px; }
    .heading__cta-wrapper {
      display: block;
      position: absolute;
      top: 20px;
      right: 0;
      width: 240px; }
      .heading__cta-wrapper a {
        display: block;
        border-radius: 20px;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        padding: 5px 0;
        text-align: center;
        text-decoration: none;
        font-weight: bold; }
        .heading__cta-wrapper a:nth-child(1) {
          background-color: #999;
          margin-bottom: 5px; }
          .heading__cta-wrapper a:nth-child(1):hover {
            background-color: gray;
            transition: background-color 0.2s ease-in; }
        .heading__cta-wrapper a:nth-child(2) {
          background-color: #10B0E6; }
          .heading__cta-wrapper a:nth-child(2):hover {
            background-color: #0d8cb6;
            transition: background-color 0.2s ease-in; } }

.nav {
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  transition: opacity 0.2s ease-in; }
  .nav > div {
    height: 100%; }
  .nav ul {
    padding: 0;
    list-style: none;
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .nav ul li {
      opacity: 0; }
      .nav ul li a {
        color: #fff;
        font-size: 40px;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        line-height: 50px;
        letter-spacing: -2.5px; }
  .nav.open {
    opacity: 1;
    z-index: 12;
    background-color: #10B0E6;
    background: linear-gradient(to bottom left, #68d1f4, #096787);
    transition: all 0.2s ease-in; }
    .nav.open li {
      opacity: 1; }
    .nav.open li:nth-child(1) {
      transition: opacity 0.2s ease-in; }
    .nav.open li:nth-child(2) {
      transition: opacity 0.4s ease-in; }
    .nav.open li:nth-child(3) {
      transition: opacity 0.6s ease-in; }
    .nav.open li:nth-child(4) {
      transition: opacity 0.8s ease-in; }
    .nav.open li:nth-child(5) {
      transition: opacity 1s ease-in; }

.hamburger {
  margin: 20px;
  z-index: 13;
  width: 22px;
  height: 16px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .hamburger span:nth-child(1) {
      top: 0; }
    .hamburger span:nth-child(2) {
      top: 7px; }
    .hamburger span:nth-child(3) {
      top: 7px; }
    .hamburger span:nth-child(4) {
      top: 14px; }
  .hamburger.open span {
    background: #fff; }
    .hamburger.open span:nth-child(1) {
      top: 7px;
      width: 0%;
      left: 50%; }
    .hamburger.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .hamburger.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .hamburger.open span:nth-child(4) {
      top: 7px;
      width: 0%;
      left: 50%; }

@media screen and (min-width: 960px) {
  .hamburger {
    display: none; }
  .nav {
    position: relative;
    opacity: 1; }
    .nav ul {
      transform: translateY(0%);
      width: 600px;
      height: 40px; }
      .nav ul li {
        opacity: 1;
        display: inline-block;
        height: 40px; }
        .nav ul li a {
          color: #000;
          font-size: 14px;
          line-height: 40px;
          padding: 0 20px;
          letter-spacing: 1.2px;
          text-transform: uppercase;
          transition: color 0.2s ease-in; }
          .nav ul li a:hover {
            color: #10B0E6;
            transition: color 0.2s ease-in; }
          .nav ul li a:active {
            color: #10B0E6; } }
