.blog {

  &__watermark {
    position: absolute;
    opacity: 0.4;
    right: 10%;
    transform: translate(10%,-50%);
    bottom: -300px;
    top: 40%;
    z-index: 1;
    img {
      height: 130vh;
    }
  }

  &__title {
    margin: 0;
    max-width: 300px;
  }

  &__heading-content {
    z-index: 2;
    position: relative;
  }

  &__header {
    background-color: $light-blue;
    border-bottom: solid 1px $medium-grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  &__avatar {
    max-width: $max-width;
    text-align: left;
    margin: 0;
  }

  &__related-cell {
    @include span-columns(12);
    margin-bottom: 20px;
    border: solid 1px $medium-grey;
    border-radius: 2px;
    padding: 20px;
    min-height: 116px;

    &:hover {
      background-color: $light-grey;
      transition: background-color $base-duration $base-easing;
    }
  }

  &__split-cell {
    @include span-columns(12);
  }

  &__about-cell {
    @include span-columns(12);
    margin-bottom: 20px;
  }

  &__read-on {
    color: $link-color;
  }

  &__about {

  }

  &__book-btn {
    font-size: $font-small;
  }

  &__cat-btn {
    @include link-btn($dark-grey, 20px, 'false');
    font-size: 12px;
    margin-bottom: 20px;
  }

  &__categories {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }

  &__pill {
    @include link-btn($dark-grey, 28px, 'true');
    font-family: $font-copy;
    cursor: default;

    &--link {
      &:hover {
        background-color: $dark-grey;
        color: $white !important;
        cursor: pointer;
      }
    }

  }
}

@include media($tablet) {
  .blog {

    &__watermark {
      right: 50%;
    }

  }
}

@include media($desktop) {
  .blog {

    &__watermark {
      position: absolute;
      opacity: 0.4;
      right: 50%;
      transform: translate(10%,-50%);
      bottom: -300px;
      top: 40%;
      z-index: 1;
      img {
        width: 100vw;
        height: auto;
      }
    }

    &__about-cell {
      @include span-columns(12);
    }

    &__split-cell {
      @include span-columns(6);

      &--right {
        text-align: right;
      }
    }

    &__related-cell {
      @include span-columns(6);
      @include omega(2);
      margin-bottom: 20px;
    }
  }
}