.btn {
  @include link-btn($brandBlue, 28px, 'false');
  font-size: $base-font-size;

  &--grey {
    @include link-btn($dark-grey, 28px, 'false');
  }

  &--full {
    width: 100%;
  }

  &--large {
    @include link-btn($brandBlue, 40px, 'false');
    font-size: $base-font-size;
  }

  &--on-blue {
    @include link-btn($white, 40px, 'false');
    color: $brandBlue;
  }


}

@include media($desktop) {
  .btn {

    &--large {
      font-size: $font-large;
    }

    &--on-blue {
      &:hover {
        background-color: $dark-blue;
        border-color: $white;
        color: $white;
      }
    }
  }
}