html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.container {
  min-height:100%;
  position:relative;
}

.content{
  @include outer-container($max-width);
  height: 100%;
}

#footer {
  background: $brandBlue;
}
@include media($mobile) {

}

@include media($tablet) {

}

@include media($desktop) {

}

@include media($largedesktop) {

}

.bump-top {
  margin-top: 20px;
}

.bump-bottom {
  margin-bottom: 20px;
}