.contact {

  &__form {
    h3 {
      color: $brandBlue;
    }

    p {
      color: $dark-grey;
    }
  }

  &__email {
    padding-right: 5px;
    font-family: $font-sans;
  }

  &__hours {
    width: 100%;
    td {
      font-family: $font-sans;
      color: $dark-grey;
      font-size: 16px;
      padding: 5px 5px 5px 0;
    }
  }

  &__phone {
    padding-right: 5px;
    font-family: $font-sans;
  }

  &__fax {
    padding-right: 5px;
    font-family: $font-sans;
  }

  &__address {
    padding-right: 5px;
    position: relative;
    font-family: $font-sans;

    span {
      margin-left: 20px;
      display: inline-block;
    }

    .fa {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__book-btn {
    @include link-btn($white, 40px, 'true');
  }
}

@include media($desktop) {
  .contact {
    &__email {
      @include span-columns(6);
    }

    &__fax {
      @include span-columns(6);
      @include omega();
    }

    &__phone {
      @include span-columns(6);
    }

    &__address {
      @include span-columns(6);
      @include omega();
    }
  }
}
