.footer {

  background-color: $brandBlue;
  font-family: $font-sans;

  &__section {
    padding: 20px;

    h3 {
      color: $white;
      text-transform: uppercase;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 4px 0;
    }
  }

  p {
    color: $white;
  }

  a {
    color: $white;
    text-decoration: none;
    font-size: 15px;
  }

  &__social-icon {
    width: 80px;
    display: inline-block;
    padding-right: 20px;
    img {
      width: 100%;
    }
  }

  &__email {
    .fa {
      padding-right: 5px;
    }
  }

  &__phone {
    .fa {
      padding-right: 5px;
    }
  }

  &__address {
    position: relative;

    span {
      margin-left: 20px;
      display: inline-block;
    }

    .fa {
      position: absolute;
      left: 0;
      top: 0;
      padding-right: 5px;
    }
  }
}

@include media($desktop) {
  .footer {

    &__inner {
      @include outer-container($max-width);
    }


    &__section {
      &--left {
        @include span-columns(4);
      }
    }

    &__section {
      &--middle {
        @include span-columns(5);
        padding-right:0;
      }
    }

    &__section {
      &--right {
        @include span-columns(3);
      }
    }
  }
}