.heading {
  height: 60px;
  background-color: #ffffff;

  &__logo-wrapper {
    display: inline-block;
    width: 180px;
    img {
      width: 100%;
      vertical-align: top;
    }
  }

  &__menu-wrapper {
    float: right;
    display: inline-block;
  }

  &__cta-wrapper {
    display: none;
  }

}

@include media($mobile) {

}

@include media($tablet) {

}

@include media($desktop) {
  .heading {
    @include clearfix();
    height: 150px;
    z-index: 200;

    &__logo-wrapper {
      @include span-columns(3);
      height: 100px;
    }

    &__menu-wrapper {
      @include span-columns(12);
    }

    &__cta-wrapper {
      @include span-columns(9);
      @include omega();
      height: 100px;
      text-align: right;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      .btn {
        max-width: 240px;
        margin-top: 13px;
        margin-right: 10px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
      }

    }
  }
}

@include media($largedesktop) {
  .heading {

  }
}