.heading {
  height: 60px;
  background-color: #ffffff;

  &__logo-wrapper {
    display: inline-block;
    width: 200px;
    img {
      width: 100%;
    }
  }

  &__menu-wrapper {
    float: right;
    display: inline-block;
  }

  &__cta-wrapper {
    display: none;
  }

}

@include media($mobile) {

}

@include media($tablet) {

}

@include media($desktop) {
  .heading {
    height: 120px;
    padding-top: 20px;

    &__logo-wrapper {
      display: block;
      height: 60px;
      width: 200px;
      margin: 0 auto;
    }

    &__menu-wrapper {
      float: none;
      display: block;
      height: 40px;
    }

    &__cta-wrapper {
      display: block;
      position: absolute;
      top: 20px;
      right: 0;
      width: 240px;

      a {
        display: block;
        border-radius: 20px;
        width: 100%;
        color: $white;
        text-transform: uppercase;
        font-size: $base-font-size;
        padding: 5px 0;
        text-align: center;
        text-decoration: none;
        font-weight: bold;

        &:nth-child(1) {
          background-color: $light-grey;
          margin-bottom: 5px;
          &:hover {
            background-color: darken($light-grey, 10%);
            transition: background-color $base-duration $base-easing;
          }
        }
        &:nth-child(2) {
          background-color: $brandBlue;
          &:hover {
            background-color: darken($brandBlue, 10%);
            transition: background-color $base-duration $base-easing;
          }
        }
      }
    }
  }
}

@include media($largedesktop) {

}