.hp {

  &__section {
    width: 100%;
    margin: 0;
    background-color: #373B44;
    height: 100vh;
    position: relative;

    &:nth-of-type(2n) {
      background-color: $grey-light;
    }
    &:nth-of-type(3n) {
      background-color: darken($grey-light, 5%);
    }
    &:nth-of-type(4n) {
      background-color: darken($grey-light, 10%);
    }
    &:nth-of-type(5n) {
      background-color: darken($grey-light, 15%);
    }

    &--carousel {
      height: calc(100vh - 60px);
    }

    h2 {
      text-align: center;
      color: $brandBlue;
      text-transform: uppercase;
    }

    .scroll-arrow {
      display: none;
      &:after {
        content: '\2193';
        position: absolute;
        bottom: 20px;
        left:0;
        right:0;
        color: $brandBlue;
        display: block;
        text-align: center;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        font-size: 30px;
        line-height: 42px;
        background-color: $white;
        font-weight: bold;
        transition: background-color $base-duration $base-easing, color $base-duration $base-easing;
        cursor: pointer;
        box-shadow: -1px 2px 6px #999;
        opacity: 0.7;
      }

      &:hover {
        &:after {
          background-color: $brandBlue;
          color: $white;
          transition: background-color $base-duration $base-easing, color $base-duration $base-easing;
        }
      }
    }
  }

  &__inner-section {
    padding: 20px 0;
    h2 {
      margin-top: 0;
    }

    &--hero {
      padding: 0;
    }
  }

  .hero-carousel {

    &__item{
      height: calc(100vh - 60px);
      width: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .bx-wrapper{
      border: 0;
    }
  }
}


@include media($desktop) {
  .hp {

    &__section {
      &--carousel {
        height: calc(100vh - 120px);
      }
      .scroll-arrow {
        display: block;
      }
    }

    &__content {
      &--half {
        width: 49%;
        display: inline-block;
        vertical-align: top;
      }
      h3 {
        margin-top: 0;
        color: $brandBlue;
      }
      img {
        width: 100%;
      }
    }
  }
}