.hp {

  &__content {
    h3 {
      margin-top: 0;
      color: $brandBlue;
    }
    &--pad {
      padding: 0 30px;
    }
  }

  &__cta {
    @include link-btn($brandBlue, 40px, 'true');
  }

  &__section {

    img {
      width: 100%;
    }

    &:nth-of-type(2n) {
      background-color: $light-grey;
    }
    &:nth-of-type(3n) {
      background-color: darken($light-grey, 5%);
    }
    &:nth-of-type(4n) {

    }
    &:nth-of-type(5n) {
      //background-color: darken($light-grey, 5%);
    }

    &--carousel {
      width: 100%;
      margin: 0;
      background-color: #373B44;
      position: relative;
      height: calc(100vh - 60px);
      overflow: hidden;
    }

    h2 {
      text-align: center;
      color: $brandBlue;
      text-transform: uppercase;
    }

    .scroll-arrow {
      display: none;
      &:after {
        z-index: 14;
        content: '\2193';
        position: absolute;
        bottom: 20px;
        left:0;
        right:0;
        color: $brandBlue;
        display: block;
        text-align: center;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        font-size: 30px;
        line-height: 42px;
        background-color: $white;
        font-weight: bold;
        transition: background-color $base-duration $base-easing, color $base-duration $base-easing;
        cursor: pointer;
        box-shadow: -1px 2px 6px #555;
        opacity: 0.7;
      }

      &:hover {
        &:after {
          background-color: $brandBlue;
          color: $white;
          transition: background-color $base-duration $base-easing, color $base-duration $base-easing;
        }
      }
    }
  }

  &__inner-section {
    padding: 40px 0;
    h2 {
      margin-top: 0;
    }

    &--hero {
      padding: 0;
    }
  }

}

.hero-carousel {

  position: relative;
  overflow: hidden;

  &__content {
    z-index: 11;
    padding: 20px 40px;
    position: absolute;
    left: 0;
    top: calc(50% - 60px);
    transform: translateY(-50%);

    h1 {
      color: $white;
      font-weight: $light-font-weight;
      text-transform: uppercase;
    }
  }

  &__cta {
    @include link-btn($brandBlue, 40px, 'false');
    font-size: 13px;

    &--transparent {
      @include link-btn($brandBlue, 40px, 'true');
    }

    margin-top: 20px;
  }

  &__item{
    height: calc(100vh - 60px);
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bx-wrapper{
    border: 0;
  }

  &:before {
    content: '';
    background-color: $black;
    opacity: 0.6;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
  }
}

@include media($desktop) {
  .hp {

    &__section {
      &--carousel {
        height: calc(100vh - 120px);
      }
      .scroll-arrow {
        display: block;
      }
    }

    &__content {
      &--half {
        width: 49%;
        display: inline-block;
        vertical-align: top;
      }

      h3 {
        margin-top: 0;
        color: $brandBlue;
      }
      img {
        width: 100%;
      }
    }
  }

  .hero-carousel {
    &__content {
      width: 400px;
    }
    &__item {
      background-attachment: fixed;
    }
    &__cta {
      font-size: 16px;
    }
    &:before {
      background: linear-gradient(to right, $black , transparent, transparent);
      opacity: 0.8;
    }
  }
}