.nav {

  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
  background-color: $white;
  transition: opacity $base-duration $base-easing;

  & > div {
    height: 100%;
  }

  ul {
    padding: 0;
    list-style: none;
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    li {
      opacity: 0;
      a {
        color: $white;
        font-size: $font-x-large;
        font-family: $font-sans;
        text-decoration: none;
        line-height: 50px;
        //letter-spacing: -2.5px;
        font-weight: bold;
      }

      ul {
        display: none;
      }
    }
  }

  &.open {
    opacity: 1;
    z-index: 12;
    background-color: $brandBlue;
    background: linear-gradient(to bottom left, lighten($brandBlue, 20%), darken($brandBlue, 20%));
    transition: all $base-duration $base-easing;

    li {
      opacity: 1;
    }

    li:nth-child(1) {
      transition: opacity 0.2s $base-easing;
    }
    li:nth-child(2) {
      transition: opacity 0.4s $base-easing;
    }
    li:nth-child(3) {
      transition: opacity 0.6s $base-easing;
    }
    li:nth-child(4) {
      transition: opacity 0.8s $base-easing;
    }
    li:nth-child(5) {
      transition: opacity 1s $base-easing;
    }
  }
}


.hamburger {
  margin: 20px;
  z-index: 13;
  width: 22px;
  height: 16px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(1){
      top: 0;
    }

    &:nth-child(2){
      top: 7px;
    }

    &:nth-child(3){
      top: 7px;
    }

    &:nth-child(4){
      top: 14px;
    }
  }

  &.open {
    span {
      background: $white;
      &:nth-child(1){
        top: 7px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2){
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &:nth-child(3){
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &:nth-child(4){
        top: 7px;
        width: 0%;
        left: 50%;
      }
    }
  }

}

.menu {

  &__sidebar-heading {
    padding: 15px 20px;
    background-color: $light-blue;
    width: 100%;
    color: $white;
    font-weight: bold;
    font-family: $font-sans;
    text-transform: uppercase;

    .arrow {
      padding: 5px;
      float: right;
      border-color: $white;

      &.up {
        margin-top: 6px;
      }
    }
  }

  &__sidebar {
    list-style: none;
    padding: 0;
    margin :0;

    overflow: hidden;
    max-height: 0;

    &.open {
      transition: max-height $base-duration $base-easing;
    }

    &--count-1 {
      &.open {
        max-height: 48px;
      }
    }

    &--count-2 {
      &.open {
        max-height: calc(48px * 2);
      }
    }

    &--count-3 {
      &.open {
        max-height: calc(48px * 3);
      }
    }

    &--count-4 {
      &.open {
        max-height: calc(48px * 4);
      }
    }

    &--count-5 {
      &.open {
        max-height: calc(48px * 5);
      }
    }

    &--count-6 {
      &.open {
        max-height: calc(48px * 6);
      }
    }

    &--count-7 {
      &.open {
        max-height: calc(48px * 7);
      }
    }

    &--count-8 {
      &.open {
        max-height: calc(48px * 8);
      }
    }

    &--count-9 {
      &.open {
        max-height: calc(48px * 9);
      }
    }

    &--count-10 {
      &.open {
        max-height: calc(48px * 10);
      }
    }



    li {
      padding: 0;
      margin :0;
      position: relative;
      border-bottom: solid 1px $light-grey;

      &:before {
        content: '';
        border-left: 0px solid $dark-blue;
        position: absolute;
        left: 0;
        top: 20px;
        @include arrow('right', 'small');
      }

      &.active {
        &:before {

        }
      }
    }

    a {
      font-family: $font-sans;
      position: relative;
      padding: 10px 20px;
      text-decoration: none;
      display: inline-block;
      width: 100%;
    }
  }
}

@include media($mobile) {

}

@include media($tablet) {

}

@include media($desktop) {
  .menu {
    &__sidebar-heading {
      width: 245px;

      .arrow {
        display: none;
      }
    }

    &__sidebar {

      max-height: none;

      li {
        &:hover {
          a {
            color: $light-blue;
            transition: color $base-duration $base-easing;
          }
        }
      }

      a {
        width: 245px;
      }
    }
  }

  .hamburger {
    display: none;
  }

  .nav {
    position: static;
    opacity: 1;
    max-height: 50px;
    height: 50px;
    border-bottom: solid 1px $light-grey;
    //background-color: $light-grey;

    .menu-item-has-children {
      > a {
        &:after {
          content: '';
          @include arrow('down', 'small');
          margin-left: 10px;
          margin-bottom: 3px;
        }
      }

      &:hover {
        > a {
          &:after {
            border-color: $white;
          }
        }
      }
    }

    #menu-main-nav {
      width: 100%;
      max-width: $max-width;
      top: 0;
      transform: translateY(0%);
      margin-top: 0;
      z-index: 202;

      > li {
        float: left;
        display: block;
        width: 20%;
        opacity: 1;
        position: relative;
        height: 50px;

        a {
          color: $dark-grey;
          font-size: $base-font-size;
          width: 100%;
          display: inline-block;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;
          line-height: 1;
          top: 25%;
          position: relative;

        }

        &:hover {
          background-color: $light-blue;
          transition: background-color $snappy-duration $base-easing;
          > a {
            color: $white;
            transition: color $snappy-duration $base-easing;
          }

          ul {
            box-shadow: 7px 7px 15px -9px rgba(150,150,150,1);
            border: solid 1px #efefef;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50px;
            background-color: $white;
            z-index: 1000;
            //width: auto;
            transform: translateY(0%);
            min-width: 180px;

            li {
              display: block;
              opacity: 1;
              height: 50px;
              a {
                color: $dark-grey;
                padding: 0 20px;
                text-align: left;
              }

              &:hover {
                background-color: $medium-blue;

                a {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }

  }
}

.modal-open {
  #menu-main-nav {
    z-index: 199;
  }
}