@mixin link-btn($color, $size, $transparent) {

  @if $transparent == 'true' {
    background-color: transparent;
    color: $color;
  } @else {
    background-color: $color;
    color: $white;
  }



  border: solid 1px $color;
  border-radius: $size;
  height: $size;
  display: inline-block;
  padding: 0 20px;
  line-height: $size;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  font-family: $font-sans;

  @include media($desktop) {

    @if $transparent == 'true' {
      &:hover {
        background-color: darken($color, 10%);
        color: $white;
      }
    } @else {
      &:hover {
        background-color: darken($color, 10%);
      }
    }

    &:hover {
      transition: all $base-duration $base-easing;
    }
  }

}


@mixin arrow($dir, $size, $color: $brandBlue) {

  border: solid $color;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 9px;
  cursor: pointer;

  @if $size == 'small' {
    border-width: 0 1px 1px 0;
    padding: 3px;
  }

  @if $size == 'medium' {
    border-width: 0 2px 2px 0;
    padding: 6px;
  }

  @if $dir == 'up' {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  @if $dir == 'down' {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  @if $dir == 'left' {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  @if $dir == 'right' {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}

@mixin ticklist() {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;

  li {
    font-family: $font-sans;
    color: $dark-grey;
    font-size: 18px;
    padding: 8px 0;
    text-transform: uppercase;
    //display: inline-block;
    //width: 49%;

    a {
      color: $dark-grey;
      &:hover {
        color: $dark-blue;
      }
    }

    &:before {
      content: '\f00c';
      width: 20px;
      height: 20px;
      font-size: 20px;
      color: $custom-grey;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      margin-right: 10px;
    }
  }
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}