@mixin link-btn($color, $size, $transparent) {

  @if $transparent == 'true' {
    background-color: transparent;
    color: $color;
    &:hover {
      background-color: darken($color, 10%);
      color: $white;
    }
  } @else {
    background-color: $color;
    color: $white;
    &:hover {
      background-color: darken($color, 10%);
    }
  }

  &:hover {
    transition: all $base-duration $base-easing;
  }

  border: solid 1px $color;
  border-radius: $size;
  height: $size;
  display: inline-block;
  padding: 0 20px;
  line-height: $size;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  font-family: $font-sans;

}