.staff {

  &__arrow {
    position: absolute;
    top: 50%;
    z-index: 10;

    &--prev {
      left: 20px;
    }
    &--next {
      right: 20px;
    }
  }

  &__wrapper {
    display: inline-block;
    width: 100%;
  }

  &__link-wrapper {
    text-align: center;
  }

  &__link {
    @include link-btn($brandBlue, 24px, false);
    text-align: center;
    font-size: 12px;
  }



  &__cta {
    text-align: center;
    font-family: $font-sans;
    padding-bottom: 10px;
  }

  &__name {
    text-align: left;
    color: $brandBlue;
    text-transform: uppercase;
    padding: 12px 0;
    font-size: 20px;
    font-family: $font-sans;

    &--homepage {
      font-size: $base-font-size;
      text-align: center;
      padding: 12px 0 0 0;
    }
  }

  &__qualification {
    text-align: left;
    color: $brandBlue;
    text-transform: uppercase;
    padding: 0 0 12px 0;
    font-size: 20px;
    font-family: $font-sans;
    &--homepage {
      font-size: $font-small;
      text-align: center;
      padding: 0 0 12px 0;
      font-style: italic;
      min-height: 26px;
    }
  }

  &__author {
    text-align: left;
    color: $dark-grey;
    padding: 0;
    font-size: 16px;
    margin-bottom: 0;
  }

  &__card-item {
    @include span-columns(12);
  }

  &__card {
    position: relative;
    margin-top: 20px;
  }

  &__card-details {
    min-height: 60px;

    &--medium {
      min-height: 150px;
    }

    &--large {
      min-height: 220px;
    }
  }

  &__card-image {
    position: absolute;
    left:0;
    top:0;
  }

  &__card-name {
    margin-left: 70px;
    color: $dark-grey;
    padding-top: 10px;
    font-weight: bold;
    font-family: $font-sans;

    &--on-color {
      color: $white;
    }

    &--medium {
      margin-left: 170px;
    }

    &--large {
      margin-left: 220px;
    }
  }

  &__card-qualification {
    margin-left: 70px;
    color: $dark-grey;
    padding-top: 3px;
    font-weight: normal;
    font-family: $font-sans;
    font-style: italic;
    font-size: $base-font-size;

    &--medium {
      margin-left: 170px;
    }

    &--large {
      margin-left: 220px;
    }
  }

  &__card-role {
    margin-left: 70px;
    color: $dark-grey;
    font-size: $font-small;
    font-style: italic;
    text-transform: capitalize;
    padding-top: 3px;

    &--on-color {
      color: $white;
    }

    &--medium {
      margin-left: 170px;
    }

    &--large {
      margin-left: 220px;
    }
  }

  &__card-description {

  }

  &__image {

    width: 160px;
    margin: 0 auto;

    div {
      background-size: cover;
      background-position: center;
    }

    &--round {
      div {
        border-radius: 100px;
        margin: 0 auto;
      }
    }

    &--large {
      width: 200px;
      div {
        width: 200px;
        height: 200px;
      }
    }

    &--medium {
      width: 150px;
      div {
        width: 150px;
        height: 150px;
      }
    }

    &--small {
      width: 60px;
      div {
        width: 60px;
        height: 60px;
      }
    }

    &--border {
      div {
        border: 3px solid #fff;
      }

    }
  }
}

@include media($tablet-size) {
  .staff {

    &__card-item {
      @include span-columns(6);
      @include omega(2n);

      &:hover {
        .staff__card-name {
          color: $dark-blue;
          transition: color $base-duration $base-easing;
        }
      }
    }

    &__image {

      &--round {
        img {
          border-radius: 100px;
        }
      }

    }
  }
}