@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-sans: 'Roboto', sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans;
  letter-spacing: -0.5px;
}

h1 {
  font-size: 28px;
  color: $medium-blue;
}

h2 {
  font-size: 22px;
  color: $medium-blue;
}

p {
  line-height: 26px;
  font-size: 16px;
  color: $dark-grey;
}

a {
  text-decoration: none;
  color: $link-color;
}

img {
  width: 100%;
}