$column: 90px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 800px;

// colours
$dark-grey: #4d4d4f;
$medium-grey: #e6e7e8;
$light-grey: #f1f1f2;

$light-blue: #6dcff6;
$medium-blue: #20c3f3;
$dark-blue: #14b0e6;

$white: #fff;
$black: #000;
$brandBlue: $medium-blue;

// fonts
$base-font-size: 14px;
$font-large: 16px;
$font-heading-small: 22px;
$font-x-large: 40px;
$font-small: 12px;

$link-color: $dark-blue;

$base-font-weight: 500;
$light-font-weight: 300;
$heavy-font-weight: 800;

// borders
$base-border: solid 1px $medium-grey;

// animations
$base-duration: 0.2s;
$base-easing: ease-in;