$column: 90px;
$gutter: 10px;
$grid-columns: 12;
$max-width: 900px;

// colours
$grey-light: #FEFEFE;
$grey: #999;
$white: #fff;
$black: #000;
$brandBlue: #10B0E6;

// fonts
$base-font-size: 15px;
$font-x-large: 40px;

// borders
$base-border: solid 1px $grey;

// animations
$base-duration: 0.2s;
$base-easing: ease-in;